* {
  margin: 0;
}

.header {
  font-family: Mokoto;
}

#thankyou-header {
  margin: 30px 0 -35px 0;
  font-size: 200px;
  text-align: center;
}

#people-header {
  color: #910307;
  font-size: 110px;
  margin: 0 0 -15px 0;
}

#sub-header {
  font-family: Poppins;
  font-size: 38px;
  margin-top: 37px;
}

#sub-header-highlight {
  font-size: 42px;
}

#button-container {
  row-gap: 45px;
  margin-top: 40px;
}

#link-button-container {
  flex-direction: row;
  column-gap: 20px;
}

.button {
  width: fit-content;
  height: auto;
  font-size: 30px;
  padding: 3px; /* Adjust the padding as needed */
  border: 3.6px solid white;
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
}

#winners-button {
  width: auto;
  padding: 8px;
  font-size: 42px;
  border: 5px solid white;
  box-shadow: 0 0 20px white;
}

#globe {
  bottom: 0;
  transform: translate(0%, -20%);
}

@media (max-width: 1100px) {
  #thankyou-header {
    font-size: 150px;
    margin-top: 50px;
  }
  #sub-header {
    margin-top: 45px;
  }

  #button-container {
    bottom: 165px;
    row-gap: 55px;
  }
}

@media (max-width: 768px) {
  #thankyou-header {
    font-size: 100px;
    margin-bottom: -10px;
  }
  #people-header {
    font-size: 70px;
  }
  #sub-header {
    display: none;
  }
  #sub-header-highlight {
    font-size: 38px;
  }
 
  .button:not(:first-child) {
    margin-top: 0;
  }
  #button-container {
    row-gap: 20px;
  }
  #link-button-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
  }
  .button {
    width: fit-content;
    font-size: 22px;
    padding: 3px;
    border: 3px solid white;
    font-size: 20px;
    padding-left: 7px;
    padding-right: 7px;
  }
  #winners-button {
    padding: 3px;
    font-size: 37px;
    margin-bottom: 15px;
  }
}

@media (max-width: 653px) {
  #thankyou-header {
    font-size: 110px;
    margin-bottom: -20px;
  }
  #people-header {
    font-size: 50px;
  }
  #sub-header {
    font-size: 30px;
    margin-top: 75px;
  }
  #sub-header-highlight {
    font-size: 35px;
  }
  
  .button:not(:first-child) {
    margin-top: 0;
  }
  #button-container {
    row-gap: 20px;
  }
  #link-button-container {
    row-gap: 20px;
  }

  .button {
    width: fit-content;
    padding-left: 7px;
    padding-right: 7px;
  }
}

@media (max-width: 430px) {
  #thankyou-header {
    font-size: 90px;
    line-height: 85px;
    margin-bottom: -6px;
  }
  
  .button:not(:first-child) {
    margin-top: 0;
  }
  #people-header {
    font-size: 50px;
  }
  #sub-header {
    margin-top: 40px;
  }
  #link-button-container {
    row-gap: 20px;
		width: 100%;
  }
  .button {
    width: 90%;
  }
}

@media (max-width: 400px) {
  #thankyou-header {
    font-size: 80px;
    line-height: 75px;
    margin-bottom: -6px;
  }

  #link-button-container {
    flex-direction: column;
    width: 100%; /* Take full width to center buttons */
  }
  .button {
    width: 80%; /* Adjust width to not take full screen */
    /* margin: 10px auto; Add top and bottom margin, auto for left and right for centering */
  }
  #people-header {
    font-size: 40px;
  }
  #sub-header {
    margin-top: 40px;
  }
}
