* {
  margin: 0;
}

.header {
  font-family: Mokoto;
}

#thankyou-header {
  margin: 30px 0 -35px 0;
  font-size: 200px;
}

#people-header {
  color: #910307;
  font-size: 110px;
  margin: 0 0 -15px 0;
}

#sub-header {
  font-family: Poppins;
  font-size: 38px;
  margin-top: 37px;
}

#sub-header-highlight {
  font-size: 42px;
}

#button-container {
  row-gap: 45px;
  bottom: 150px;
}

#link-button-container {
  flex-direction: row;
  column-gap: 20px;
}

.button {
  width: 400px;
  height: auto;
  font-size: 30px;
  padding: 3px; /* Adjust the padding as needed */
  border: 3.6px solid white;
  text-align: center;
}

#winners-button {
  width: auto;
  padding: 8px;
  font-size: 42px;
  border: 5px solid white;
  box-shadow: 0 0 20px white;
}

#globe {
  bottom: 0;
  transform: translate(0%, 66%);
}

@media (max-width: 1100px) {
  #thankyou-header {
    font-size: 150px;
    margin-top: 50px;
  }
  #sub-header {
    margin-top: 45px;
  }

  #button-container {
    bottom: 165px;
    row-gap: 55px;
  }
}

@media (max-width: 768px) {
  #thankyou-header {
    font-size: 100px;
    margin-bottom: -10px;
  }
  #people-header {
    font-size: 70px;
  }
  #sub-header {
    display: none;
  }
  #sub-header-highlight {
    font-size: 38px;
  }

  #button-container {
    row-gap: 30px;
  }
  #link-button-container {
    flex-direction: column;
    column-gap: 0;
    row-gap: 15px;
  }
  .button {
    width: 300px;
    font-size: 22px;
    padding: 3px; /* Adjust the padding as needed */
    border: 3px solid white;
    width: 250px; /* Adjust as needed */
    font-size: 20px;
  }
  #winners-button {
    padding: 6px;
    font-size: 37px;
  }

  #globe {
    transform: translate(0%, 54%);
  }
}

@media (max-width: 653px) {
  #thankyou-header {
    font-size: 110px;
    margin-bottom: -20px;
  }
  #people-header {
    font-size: 80px;
  }
  #sub-header {
    font-size: 30px;
    margin-top: 75px;
  }
  #sub-header-highlight {
    font-size: 35px;
  }

  #button-container {
    row-gap: 40px;
  }
  #link-button-container {
    row-gap: 20px;
  }

  #globe {
    transform: translate(0%, 40%);
  }
}

@media (max-width: 430px) {
  #thankyou-header {
    font-size: 90px;
    line-height: 85px;
    margin-bottom: -6px;
  }
  #people-header {
    font-size: 75px;
  }
  #sub-header {
    margin-top: 40px;
  }
}

@media (max-width: 375px) {
  #thankyou-header {
    font-size: 80px;
    line-height: 75px;
    margin-bottom: -6px;
  }
  #people-header {
    font-size: 55px;
  }
  #sub-header {
    margin-top: 40px;
  }

  .button {
    width: 215px;
    font-size: 16px;
    padding: 3px; /* Adjust the padding as needed */
    border: 3px solid white;
  }
  #winners-button {
    padding: 6px;
    font-size: 30px;
  }
}
