.centeredText {
    text-align: center;
}

.OrganizersPage {
    width: 1100px;
    margin: auto;
}

#organizers-header {
    font-family: Mokoto;
    font-size: 46px;
    margin-bottom: 40px;
}

.director-jrDirector-header {
    font-family: Mokoto;
    font-size: 30px;
    margin-bottom: 33px;
}

.director-row {
    width: 100%;
    justify-content: center;
    margin-bottom: 15px;
    /*column-gap: 30px;*/
}


.director-div {
    margin-bottom: 5px;
    display: grid;
    row-gap: 13px;
}

.director-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
}

.director-avatar {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #910307;
    background-color: #353535;
    display: flex;
    position: absolute;
    justify-self: flex-end;
    align-self: flex-end;
}

.director-name-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.name {
    color: white;
    font-size: 1.8rem;
    white-space: nowrap;
}

.position {
    color: #910307;
    margin-bottom: 0;
    width: max-content;
    font-weight: bold;
}

.junior {
    color: #d50110;
}

/* Add these styles to your CSS file or include them in a style tag in your component */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Adjust the margin as needed */
  }

.help-organize-section {
    margin-bottom: 20px;
}

@media (max-width: 1140px) {
    .OrganizersPage {
        width: 900px;
    }

    .name {
        font-size: 1.6rem;
        margin-bottom: 5px;
    }

    .director-row.jr {
        column-gap: 40px;
    }

}

@media (max-width: 768px) {
    .OrganizersPage {
        width: 700px;
    }

    .director-div {
        row-gap: 8px;
    }

    .director-img {
        width: 150px;
        height: 150px;
    }
    .director-avatar {
        width: 52.5px;
        height: 52.5px;
    }

    .name {
        font-size: 1rem;
    }
    .position {
        font-size: .75rem;
    }
}

@media (max-width: 425px) {
    .OrganizersPage {
        width: 100%;
    }

    #organizers-header {
        margin-bottom: 15px;
    }

    .director-row {
        column-gap: 0;
        row-gap: 30px;
        margin-bottom: 30px;
    }

    .director-div { /* mobile layout is slight off-center and it was triggering my OCD so offsetting with this */
        width: 92%;
        margin-left: 8%;
    }

    .director-img {
        width: 200px;
        height: 200px;
    }
    .director-avatar {
        width: 70px;
        height: 70px;
    }

    .name {
        font-size: 1.8rem;
    }
    .position {
        font-size: 1.2rem;
    }
}