.MiniEventPage {
  text-align: center;
  width: 100%;
  padding: 0 10%;
}

.event-title {
  font-family: 'Mokoto';
  font-size: 3em;
  margin: 20px 0;
}

.event-details p {
  font-weight: bold;
  font-family: 'Poppins';
}

.event-date {
  margin-bottom: 0;
}

.event-location {
  margin-top: 0;
}

.info-section {
  padding-bottom: 40px;
}

.register-button {
  margin-bottom: 20px;
}

.button.register-btn {
  background-color: #910307;
  color: white;
}

.additional-info {
  font-size: 1.5em;
  padding-bottom: 20px;
  font-weight: bold;
  font-family: 'Poppins';
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.button.new-btn {
  background-color: #910307;
  color: white;
}

@media (max-width: 768px) {
  .buttons-container {
    flex-direction: column;
    align-items: center;
  }
}
