.MiniEventPage {
  text-align: center;
  width: 100%;
  padding: 0 10%;
}

.event-title {
  font-family: 'Mokoto';
  font-size: 3em;
  margin: 20px 0;
}

.event-details p {
  font-weight: bold;
  font-family: 'Poppins';
  font-size: 1.5em;
}

.event-date {
  margin-bottom: 0;
}

.event-location {
  margin-top: 0;
}

.register-button {
  margin-bottom: 20px;
}

.button.register-btn {
  background-color: #910307;
  color: white;
}

.additional-info {
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Poppins';
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.button.new-btn {
  background-color: #910307;
  color: white;
}

.content-image {
  width: 100%;
  max-width: 75px;
  height: auto;
  margin: 0 auto;
}

.content-item {
  font-weight: bold;
  font-family: 'Poppins';
}

.bottom-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.red-bold-text {
  color: var(--red);
  font-family: 'Poppins';
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0;
}

.reg-white-text {
  font-size: 1.4em;
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .content-image {
    max-width: 40px;
  }
}

@media (min-width: 768px) {
  .buttons-container {
    flex-direction: row;
    align-items: center;
  }
  .content-image {
    max-width: 50px;
  }
}

@media (min-width: 992px) {
  .content-image {
    max-width: 75px;
  }
}
