.mobile-navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.mobile-logo {
    position: relative;
    left: 15px;
    margin-left: 15px;
}


.bm-burger-button {
    position: relative;
    width: 30px;
    height: 24px;
    left: 20px;
}

.bm-burger-bars {
  background: white;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

