.mobile-navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.mobile-logo {
    position: relative;
    left: 15px;
    margin-left: 15px;
}


.bm-burger-button {
    position: relative;
    width: 30px;
    height: 24px;
    left: 20px;
}

.bm-burger-bars {
  background: white;
}

.bm-menu {
  background: var(--black);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

