/* Add a class to target the event, location, and time cells */
.schedule-item {
  text-align: center;
  font-size: 1.8rem;
  white-space: normal;
  padding: 0.5rem;
  word-wrap: break-word;
  overflow-wrap: break-word; /* Force break the word if it's too long?? */
  flex-direction: column;
}


/* Responsive styles for smaller screens */
@media (max-width: 740px) {
  .schedule-item {
    font-size: 0.8rem !important; /* Adjust the font size for smaller screens */
    line-height: 1.2; /* Adjust line height for better readability on smaller screens */
    flex-direction: column !important;

  }
  .schedule-header {
    font-size: 0.7rem; /* Adjust the font size for smaller screens */
  }

  .schedule-container {
    width: 100%;
  }
}

/* Responsive styles for even smaller screens (e.g., iPhones in portrait mode) */
@media (max-width: 653px) {
  .schedule-item {
    font-size: 0.6rem; /* Further reduce font size for very small screens */
  }
  .schedule-header {
    font-size: 0.7rem; /* Adjust the font size for smaller screens */
}
}

.small-event .schedule-item {
  font-size: 19.1px; /* Adjust the font size as needed for smaller events */
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
}
