/* Add a class to target the event, location, and time cells */
.schedule-item {
  padding: 1rem 1rem; /* Adjust the padding as needed for regular screens */
  text-align: center;
  font-size: 1.8rem; /* Adjust the font size for regular screens */
  white-space: normal;
  word-wrap: break-word; /* Prevents long words from overflowing */
  line-height: 1.5; /* Adjust line height for better readability */
  flex-direction: column;

}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .schedule-item {
    padding: 0.5rem; /* Adjust the padding for smaller screens */
    font-size: 0.8rem; /* Adjust the font size for smaller screens */
    line-height: 1.3; /* Adjust line height for better readability on smaller screens */
    flex-direction: column;

  }

  .schedule-container {
    width: 100%; /* Set the container width to 100% */
  }
}

/* Responsive styles for even smaller screens (e.g., iPhones in portrait mode) */
@media (max-width: 653px) {
  .schedule-item {
    font-size: 0.6rem; /* Further reduce font size for very small screens */
  }
}


.small-event .schedule-item {
  font-size: 14px; /* Adjust the font size as needed for smaller events */
}