.schedule-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; /* adjust the value as needed */
    overflow-y: auto;
    flex: 1;
    height: fit-content;
    padding: 20px;
}

.schedule-page-container h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.rbc-calendar {
    background-color: #121212;
    color: #ffffff; 
}

.rbc-event {
    background-color: #e50914; 
    border: none;
    font-size: 15px;
}

.rbc-header {
    background-color: #1e1e1e; 
    color: #ffffff;
    padding: 10px 0;
    font-size: 16px;
}

.rbc-today {
    background-color: #333333; 
}

.rbc-time-view {
    /* height: auto !important; */
}

.rbc-time-header-content {
    min-height: 100px;
}

.rbc-timeslot-group {
    min-height: 100px;
}

.rbc-time-gutter,
.rbc-timeslot-cell {
    min-height: 70px;
}
  