.schedule-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; /* adjust the value as needed */
    height: 100vh; /* Set initial height to fill the viewport */
    overflow-y: auto;
    flex: 1;
}

.schedule-page-container h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
