:root{
    --black: #191919;
    --grey: #353535;
    --red: #910307;
    --light-red: #d50110;
    --light-grey: #aaa;
}

.mokoto{
    font-family: Mokoto;
}

* {
    color: white;
}

html, body {
    background-color: var(--black);
    overflow: none;
    overscroll-behavior: none;
}

@media screen and (max-width: 1680px) {

    h1 {
        font-size: 100px;
    }

}

@media screen and (max-width: 1280px) {

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 30px;
    }

}

@media screen and (max-width: 360px) {

    h1 {
        font-size: 30px;
    }

}

h1 {
    font-family: Mokoto;
}

p {
    font-family: Poppins Light;
}

.myClass {
    font-family: Poppins Light;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.tab-content {
    display: flex;
}

.tab-content>.tab-pane {
    display: block;
    /* undo "display: none;" */
    visibility: hidden;
    margin-right: -100%;
    width: 100%;
}

.tab-content>.active {
    visibility: visible;
}


.nav-link-custom {
    color: var(--red);
    font-family: Poppins;
    font-weight: bold;
}

.nav-link-custom:active,
.nav-link-custom:focus,
.nav-link-custom:hover {
    color: white;
}

.about-info {
    padding-left: 15px;
    padding-right: 40px;
    align-items: center;
    justify-content: center;
}

.about-info h2 {
    font-family: Poppins;
    color: white;
    font-size: 20px;
    line-height: 10px;
}

.about-info p {
    line-height: 20px;
}

.circle {
    background-color: var(--red);
    border-radius: 50%;
    width: 50px;
    height: 50px;

}

.button {
    position: relative;
    font-family: Poppins;
    /* font-weight: 500; */
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    border: none;
    background: var(--red);
    overflow: hidden;
}

.button:hover {
    background: linear-gradient(to right, var(--red), #d50110, #560002);
    /* transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1); */
}

@media screen and (max-width: 767px) {
    .title {
        display: none;
    }

    .AboutPage {
        display: none;
    }
}

/* LANDING PAGE */
.landingPage {
    background-color: transparent;
    display: flex;
    width: auto;
    height: auto;
    overflow: hidden;
}

.landingPage .container {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0);

    position: absolute;
    width: 70vw;
}

.landingPage h1,
.landingPage .glitchEffectWrapper {
    font-family: Mokoto;
    font-size: 150px;
    line-height: 100%;
    padding-left: 4vw;
    padding-top: 65px;
    white-space: nowrap;
}

.landingPage h2 {
    font-family: Poppins Light;
    font-size: 50px;
    line-height: 0px;

    padding-left: 8.2vw;
    padding-bottom: 10vh;
}

/* LANDING PAGE MOBILE*/
.landingPageMobile {
    content: center;
    justify-content: center;
    text-align: center;

    width: auto;
    overscroll-behavior: none;
    overflow: hidden;
}

.landingPageMobile h1,
.landingPageMobile .glitchEffectWrapper {
    font-family: Mokoto;
    font-size: 13vw;
    line-height: 100%;
    padding-top: 50px;
}

.landingPageMobile h2 {
    font-family: Poppins ExtraLight;
    line-height: 30%;
    font-size: 5vw;

    padding-bottom: 30px;
}

.landingPageMobile p {
    padding-right: 8%;
    padding-left: 8%;
    margin-top: -12vh;
}

.hero {
    display: flex;
    justify-content: center;
    text-align: center;
}

.hero img {
    width: 450px;
    height: 420px;
    opacity: 0.2;

    position: relative;
    right: 130px;
    top: -45px;
}

.hero .container {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
    padding-top: 30;
    width: 100%;
    position: absolute;
    margin-bottom: 125px;
}

.accordion-button{
    box-shadow: none !important;
}


.accordion-button:not(.collapsed){
    color: var(--light-red);
    background-color: white;
}

.accordion-item *{
    background-color: var(--black);
    color: white;
}

.accordion-button::after{
    filter: brightness(300%);
}

.accordion-button:not(.collapsed)::after{
    filter: hue-rotate(180deg);
}

.accordion-header, .accordion-body{
    background-color: transparent;
}

#faq{
    margin-bottom: 100px;
}

#prize {
    margin-bottom: 100px;
}

.timer {
    top: 450px;
    left: 5vw;
    max-width: 750px;
    height: 250px;
    display: flex;
    padding: 0px;
}

.circleStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 5px solid #910307;
    border-radius: 50%;

    width: 144px;
    height: 144px;
    font-size: 43px;
    font-family: Poppins;

    color: black;
}

.contain {
    width: 144px;
    height: 144px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}
    #number {
        font-size: 43px;
        font-family: Poppins;
        color: white;
    }

    circle {
        stroke-width: 8px;
        stroke: white;
        fill: none;
    }

    .timerSvg {
        position: absolute;
        top: 0;
        left: 0;
    }

.groupStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.colStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.labelStyle {
    text-align: center;
    color: white;
    padding-top: 10px;
    font-family: Poppins Light;
    font-size: 21.6px;
}

.base-timer-path-remaining {
    fill: none;
    fill-rule: nonzero;
    stroke: #910307;
    stroke-width: 9px;
    stroke-linecap: round;
    transform-origin: center;
    transform: rotate(-90deg);
}

/* Sponsor Styling */

.sponsor a{
    color: white;
    display: block;
}

.sponsor a{
    text-decoration: none;
    color: white;
    transition: background 0.2s;
}

.sponsor a:hover{
    background-color: rgba(0,0,0,0.2) !important;
    color: white;
}

.innerSponsor{
    height: 150px;
}

.tierHeader{
    border-bottom: 1px solid white;
}

.timer {
    top: 450px;
    left: 5vw;
    max-width: 750px;
    height: 250px;
    display: flex;
    padding: 0px;
}

.circleStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 5px solid #910307;
    border-radius: 50%;

    width: 144px;
    height: 144px;
    font-size: 43px;
    font-family: Poppins;

    color: black;
}

.contain {
    width: 144px;
    height: 144px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}
    #number {
        font-size: 43px;
        font-family: Poppins;
        color: white;
    }

    circle {
        stroke-width: 8px;
        stroke: white;
        fill: none;
    }

    .timerSvg {
        position: absolute;
        top: 0;
        left: 0;
    }

.groupStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.colStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.labelStyle {
    text-align: center;
    color: white;
    padding-top: 10px;
    font-family: Poppins Light;
    font-size: 21.6px;
}

.base-timer-path-remaining {
    fill: none;
    fill-rule: nonzero;
    stroke: #910307;
    stroke-width: 9px;
    stroke-linecap: round;
    transform-origin: center;
    transform: rotate(-90deg);
}